@import "../../Style/variable";
.noteComponent{
    width: 165px;
    height: 165px;
    border-radius: 40px 3px 40px 40px;
    padding: 20px 20px;
    background-color: #262626;
    margin: 10px;
    border: 1px solid rgb(70, 70, 70);
    box-shadow: 5px 5px 5px 0 #000000;
    transition: transform .5s, box-shadow .5s;
    cursor: pointer;
    h3{
        font-weight: $SemiBold;
        letter-spacing: 2px;
    }
    p{
        font-size: 14px;
        font-weight: $Thin;
    }
}
.noteComponent:hover{
    box-shadow: 10px 10px 5px 0 #000000;
    z-index: 10;
    transform: translate(-10px, 10px) ;
}