@import "../../Style/variable";
.buttonComponent {
    background-color: transparent;
    color: white;
    padding: .6rem 1rem;
    border-radius: .6rem;
    font-weight: $Thin;  
    font-size: 3vmin; 
    cursor: pointer;
    opacity: 0;
    transition: background-color .5s, opacity .5s ease-in-out; 
    &:hover{
        background-color: #2c2b2b;
    }
}

.visibleButtons{
    opacity: 1;
}
